<div flex fxLayout="row">
    <div fxFlex="25"></div>
    <div fxFlex="50">
        <mat-card>
            <mat-card-title>Todos</mat-card-title>
            <mat-card-content>
                <section class="todoapp">
                    <div class="editor-container">
                        <div>
                            <mat-form-field class="todoContent">
                                <input matInput placeholder="What needs to be done?" [(ngModel)]="newTodo.content" (keyup.enter)="addTodo()">
                            </mat-form-field>
                            <button mat-icon-button color="primary" (click)="addTodo()">
                                <mat-icon aria-label="Add todo">add</mat-icon>
                            </button>

                        </div>
                    </div>
                    <section class="main" *ngIf="todos.length > 0">
                        <mat-list>
                            <mat-list-item *ngFor="let todo of todos">
                                <div [ngClass]="{ 'hidden': todo.isUpdating }">
                                    <mat-checkbox [(ngModel)]="todo.isDone" (click)="toggleTodoIsDone(todo)"><label [ngClass]="{ 'text-isDone': todo.isDone }">{{ todo.content}}</label></mat-checkbox>
                                    <button mat-icon-button color="primary" (click)="removeTodo(todo)">
                                        <mat-icon aria-label="Delete todo">delete</mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" (click)="editTodo(todo)">
                                        <mat-icon aria-label="Edit todo">edit</mat-icon>
                                    </button>
                                </div>
                                <div fxFlex="100" [ngClass]="{ 'hidden': !todo.isUpdating }">
                                    <mat-form-field class="todoContent">
                                        <input matInput placeholder="What needs to be done?" [(ngModel)]="todo.content" (keyup.enter)="updateTodo(todo)" (keyup.esc)="cancelEdit()">
                                    </mat-form-field>
                                    <button mat-icon-button color="primary" (click)="updateTodo(todo)">
                                        <mat-icon aria-label="Edit todo">done</mat-icon>
                                    </button>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </section>
                </section>
            </mat-card-content>
            <!--<mat-card-footer *ngIf="todos.length > 0">
                <section>
                    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
                </section>
            </mat-card-footer>-->
        </mat-card>
    </div>
    <div fxFlex="25"></div>
</div>

