.editor-container {
    display: flex;
    flex-direction: column;
}

    .editor-container > * {
        width: 100%;
    }

.todoContent {
    width: 80%;
}

label.text-isDone {
    text-decoration: line-through;
}

.hidden {
    display: none;
}

mat-card {
    margin-top: 100px;
}